{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    
{% block menu %}
{{render(url('menu_liste'))}}
{% endblock %}

{% block stylesheets %}
     {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {{ encore_entry_link_tags('login') }}
 {% endblock %}   

<div class="container">
    <div class="d-flex justify-content-center h-100">

        <div class="card">
            <div class="card-header">
                <h3>Reset Passwod</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <form method="post">
    {{ form_start(requestForm) }}

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                  
        {{ form_widget(requestForm.email, {'attr': {'placeholder': 'Email'}}) }}
                    </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                  
                </div>
                <div class="d-flex justify-content-center">
                 
                </div>
            </div>
                    <div class="form-group">
                              <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }}

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}
